//paleta de colores
$color1:#74A3DB;
$color2:#2A3541;
$color3:#50BDEA;
$color4:#68ADFF;
$color5:#0171C0;
$color6:#434343;
$color7:#333333;

//estilos base
$body--background :#fff;
$body--font-family: "Open Sans", sans-serif;
$body--color      :#333;

//variables para font-weight
$ligh	   : 300;
$normal    : 400;
$semi-bold : 600;
$bold      : 700;
$extra-bold: 800;

//.cont-menu{
	//@import "menuh";
//}