doctype html5
html(lang="es")
	head
		title Blog 360
		meta(charset="utf-8")
		meta( http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		
		link(rel="stylesheet",href="css/bootstrap.min.css")
		link(rel="stylesheet",href="css/font-awesome.min.css")
		link(rel="stylesheet",href="css/ionicons.min.css")
		link(rel="stylesheet",href="css/styles.css")
		link(rel="stylesheet",href="css/main.css")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/menu.js")
	body
		.cont-hero
			.hero
				.cont-menu
					.row
						.col-sm-4
							.logo
								img(src="image/user-r.png")
						.col-sm-8
							nav
								#toggle-menu.ion-android-menu
								ul.menu
									each item__menu in['¿Que me ofrece?','¿cómo funciona?','¿por qué usarlo?','Contactanos']
										li: a.link-menu(href="#")= item__menu
				.container
					.info-hero
						h1 Obtén videos de personas reales utilizando tu sitio web, en 1 hora
				.prueba
					.container
						h2 PRUEBA GRATUITA
						p Obten un video gratis de 5 minutos
						a Pruebalo gratis
		section#servicios
			.container
				h2 Nuestros servicios
				.row
					.col-sm-4
						.item-servicios

							.item-img-serv.ion-ios-film-outline
							p Pruebalo gratis
						p Obtén un primer video acreencast de un usuario navegando tu página.
					.col-sm-4
						.item-servicios

							.item-img-serv.ion-ios-time-outline 
							p Compra el servicio completo
						p Si te gusto comprar nuestro servicio completo que incluye 7 videos y feedhack.
					.col-sm-4
						.item-servicios

							.item-img-serv.ion-ios-paper-outline
							p Obtén el resultado en 1 día
						p Te haremos llegar los videos y el freedback completo el mismo día.
		hr
		.separador
			img(src="image/separador.png")
		section#como-usar
			.container
				.row
					.col-sm-6
						h2 Ejemplo de
							span USER
							span TESTING
							span 360
						p En este video te damos un ejemplo de un integrante de nuestri panel evaluando la existencia de usa de
						a minediaamanzana.com
						p El objetivo de User Testing 360 es identificar situaciones confusas de los usuarios en su web y descubrir soluciones, que granticen una experiencia de uso satisfactoria.
						.img-flecha
							img(src="image/flecha.png")
					.col-sm-6
						.video
							<iframe width="560" height="315" src="https://www.youtube.com/embed/u7MDfG9ZJTU" frameborder="0" allowfullscreen></iframe>
			.container
				.row
					.col-sm-6
						.img-sec
							.con-sec
								i.fa.fa-pencil.pencil
								i.ion-settings.settings
								i.fa.fa-search
					.col-sm-6
						.info-que-hago
							h3 Lo quiero ¿Qué hago?
							span.pasos Paso 1:envianos tu link
							p Al darle click al botón de prueba. Coloca tu nombre y tu correo electrónico a donde enviaremos el video y el informe con el feedback.
							span.pasos Paso 2:describe a tu público objetivo
							p Describe las acciones que quieres que evaluemos por ejemplo:
							ul
								li A primera vista de ¿Qué crees que trata la página?
								li Busca el botón de inscribirte ó comprar
								li ¿Es fácil o dificil leer los textos?
							p Puedes preguntas como las que te motramos.
							span.pasos Paso 3:recibe un video y el feedback completo
							p Recibe un combo de 7 videos y un informe detallado con las captaciones de usabilidad de tu producto.
		hr.separador-2
		.separador
			img(src="image/separador.png")
		section#porque-usar
			.container
				.row
					.col-sm-6
						h2 Por qué usar
							span USER
							span TESTING
							span 360
						p En la ra que nos encontramos, la web se ha convertido en el mejor sitio para llegar a millones de personas en segundos, pero ¿qué pasa si el producto digital que ofreces no es bueno o no se entiende? Pierdes esta enorme opportunidad. Con
							span User Testing
							| Puedes entender la experiencia de uso de tu página o producto digital y mejorarla para que satisfaga todas las necesidades de tus usuarios. Con 
							span User Testing 360
							| podrás entender:
						ul 
							li ¿Cómo tu público objetivo verdaderamente usa tu producto?
							li ¿Qué se hace fácil o dificil al navegar en tu producto?
							li ¿Qué es lo que tu público quiere hacer y tal vez no obtiene o consigue?
						span "User Texting 360" 
						p te audará a responder estas preguntas y muchas más. Es el toque final perfecto para que  tu página o producto digital.

					.col-sm-6
						.banner
		footer
			.footer-1
				.container
					.col-sm-6
						h2 PRUEBA GRATUITA
						P Obten un video de 5 minutos
					.col-sm-6
						a Pruebalo Gratis
			.footer-2
				.container
					.col-sm-6
						p Escribenos a:
						a experienciadeusuario.lab&#64gmail.com
						p telef:989637925
					.col-sm-6
						i.fa.fa-facebook
						i.fa.fa-twitter
						p Copyright &#169 2015-user Testing 360
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/menu.js")

			



